.venv/
.vscode/

__pycache__/
*.pyc

scripts/motor_control/motor_with_imu_test/build/
scripts/motor_control/motor_with_imu_test/n100_cpp/build/
scripts/motor_control/policy_test/build/
scripts/motor_control/policy_test/n100_cpp/build/
scripts/measurements/**/logs/
scripts/measurements/**/data/
*.so
*.a

.agents/
.codex/
.claude/

docs/
